<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="weatherService" class="com.yanaguseva.service.WeatherService"/>
    <bean id="yahooParser" class="com.yanaguseva.parser.YahooParser"/>
    <bean id="weatherPrinter" class="com.yanaguseva.service.WeatherPrinter">
        <constructor-arg ref="weatherService"/>
        <constructor-arg ref="yahooParser"/>
    </bean>


</beans>